*{
    margin: 0;
    padding: 0;
}

header{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background: white;
   height: 92px;
   padding:16px 120px ;
   padding: 15px 120px;
}

header li{
    list-style: none;
    display: inline;
    margin-right: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1F2937;
}
header img{
    width: 139px;
    height: 60px;  
}
header button{
    color: white;
    background: #27ae60;
    margin: 10px;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
}

header button :hover{
    background: #219150;
}
main .hero-btn1{
   color: white;
   background: #27ae60;
   width: 251px;
   height: 52px;
   border-radius: 8px;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12px 16px;
}

main .hero-btn1:hover{
   background-color: #219150;
   cursor: pointer;
}

main{
   background-image: url("hero-bg.png");
   background-size: cover;
   background-repeat: no-repeat;
   height: 600px;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;    
   text-align: center;
   color: aliceblue;
  
}
main img{
   width: 20px;
   height: 20px;
}


main .hero-button{
   display: flex;
   gap: 10px;
}
main .hero-btn2{
   background-color: transparent;
   color: white;
   border: 2px solid white;
   width: 251px;
   height: 52px;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12px 16px;
}

main .hero-text{
   width: 770px;
   height: 168px;
   font-size: 2em;
   font-style: Bold;
}
main span{
   color: #27ae60;
}

main p{
   color: aliceblue;
   width: 1360px;
   height: 60px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   gap: 16;
}